h2 {
    font-size: 150%;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    display: inline-block;
}
h3 {
    display: inline-block;
    border-bottom: 1px dotted #e4e9f0;
    padding-bottom: 5px;
}
